MONGO_URI = ""
PORT = ""


JWT_ACCESS_SECRET = ""
JWT_ACCESS_EXPIRY = ""
JWT_REFRESH_SECRET = ""
JWT_REFRESH_EXPIRY = ""



GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
GOOGLE_REDIRECT_URI = ""
CLIENT_HOME_URL = ""

GEMINI_API_KEY= ""